<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration form</title>



</head>
<body>

	<div class="container col-sm-4 login-div">

		<div class="card">
			<div>
				<div class="card-body">
					<form th:action="@{/register}" method="post" modelAttribute="reg"
						th:object="${reg}">
						<fieldset>

							<div th:if="${param.error}">some error</div>

							<div th:if="${param.logout}">
								<div class="alert alert-info alert-dismissible fade show"
									role="alert">
									You have been logged out.
									<button type="button" class="close" data-dismiss="alert"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							</div>


							<div class="form-group">
								<input autocomplete="off" type="text" name="email" id="email"
									class="form-control input-lg" placeholder="Email"
									required="true" autofocus="true" />
							</div>
							<div class="form-group">
								<input autocomplete="off" type="text" name="name"
									id="name" class="form-control input-lg"
									placeholder="UserName" required="true" autofocus="true" />
							</div>
							<div class="form-group">
								<input autocomplete="off" type="password" name="password"
									id="password" class="form-control input-lg"
									placeholder="Password" required="true" />
							</div>


							<select>
								<option th:each="regg : ${role}" th:value="${role}"
									th:utext="${regg.role}" />
							</select>

							<div class="row col-sm-4">
								<input type="submit" class="btn btn-lg btn-primary btn-block"
									value="Regiter" />
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>

	</div>

</body>
</html>